<!--
  This template loads for the 'tab.pet-detail' state (app.js)
  'pet' is a $scope variable created in the PetCtrl controller (controllers.js)
  The PetCtrl pulls data from the Pets service (service.js)
  The Pets service returns an array of pet data
-->
<script src="js/jquery-2.0.3.js"></script>
<script src="js/pet-detail.js"></script>

<view title="Feed">
  <content has-header="true" padding="true">
  	<container id="feed"> 
		
  	</container> 
    <!-- <p>{{ pet.description }}</p>
    <p><a class="button button-small icon ion-arrow-left-b" href="#/tab/pets"> All Pets</a></p> -->
    <p> <a href="index.html">Home</a></p>
  </content>
</view>


